<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>Add Consumer</title>
</head>
<body>
<form th:method="POST" th:action="@{/hello}" th:object="${cons}">
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:error="*{name}">error name</div>
  <br/>

  <label for="email">email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:error="*{email}">error email</div>
  <br/>

  <input type="submit" value="Add">
</form>
</body>
</html>